<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="MyCOnf">
	<Appenders>
		<RollingFile name="RollingFile" fileName="logs/log.log" filePattern="logs/log_%d{yyyy-MM-dd-hh}.log.zip">
			<PatternLayout>
				<Pattern>%d %p [%t] [%c] : %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="12" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="7"/> 
		</RollingFile>
		<RollingFile name="ErrorLogRollingFile" fileName="logs/errors.log" filePattern="logs/err_%d{yyyy-MM-dd-hh}.log.zip">
			<PatternLayout>
				<Pattern>%d %p [%t] [%c] : %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="24" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="7"/> 
		</RollingFile>		
	</Appenders>
	<Loggers>
		<Logger name = "sigur.SigurClient" level = "ERROR">
			<AppenderRef ref="ErrorLogRollingFile"/>
		</Logger>
		<Root level = "DEBUG">
			<AppenderRef ref="RollingFile" />
		</Root>				
	</Loggers>
</Configuration>